In [85]:
import nest_asyncio
nest_asyncio.apply()

In [86]:
import twint
from datetime import datetime, date, timedelta

In [87]:
# Set up TWINT config
c = twint.Config()

In [88]:
# Set up time substract 10 minutes early
now = datetime.now() - timedelta(hours=0, minutes=10)

dt_string = now.strftime("%Y-%m-%d %H:%M:%S") 
print("date and time =", dt_string)

since = dt_string

date and time = 2022-04-08 16:26:06

In [89]:
# Custom output format
c.Search = "Indihome"
c.Limit = 300
c.Pandas = True
c.Since = since
twint.run.Search(c)

1512363428840878081 2022-04-08 16:35:14 +0700 <muhrezzzz> semangat belajar biar celet wisuda. untung internet rumah lancar jadinya belajar nya enak, semua ini karena aku udah pake indihome #aktivitastanpabatas #internetnyaindonesia #silaturahmitanpabatas  https://t.co/9eH2kklFml
1512363033280270337 2022-04-08 16:33:40 +0700 <syaws_> @Askrlfess tadinya Indihome, trus ganti ke firstmedia yang lebih murah. sebulan cuma 250rb'an
1512362890183188485 2022-04-08 16:33:06 +0700 <chelochele> Indihome sinyalnya bapuk
1512362251956948994 2022-04-08 16:30:33 +0700 <IndiHomeCare> @painiaa @IndiHome Hallo, Sobat. Mohon informasikan nomor Internet dan nomor ponsel aktifnya via DM agar dibantu pengecekan lebih lanjut atau klik link berikut  https://t.co/yuUDRsTpwI. Terima kasih -Maul
1512362153692446720 2022-04-08 16:30:10 +0700 <desuti> @dhitmple @TelkomIndonesia @TelkomCare @IndiHomeCare Gausah kak, udah 2 hari indihome gabisa. Penanganannya juga lama bgt. Keganggu semuanya dari kerjaan, kuliah. Bad bgt
1512362127105093634 2022-04-08 16:30:04 +0700 <mbas2709> Indihome sama Telkomsel kapan tobatnya ya, gini2 terus perasaan kualitas internetnya
1512362004019040262 2022-04-08 16:29:34 +0700 <dianekaputtri> nyelesain kerjaan semakin cepat sekarang. karena ditemani wifi indihome yang internetnya super cepat #aktivitastanpabatas #internetnyaindonesia #silaturahmitanpabatas  https://t.co/yZaGeUBbnx
1512361805544591370 2022-04-08 16:28:47 +0700 <dianekaputtri> nonton film black panther makin seru aja nih apalagi nunggu buka puasa. makin serunya karena lancar banget dan gaada buffering semenjak pake indihome #aktivitastanpabatas #internetnyaindonesia #silaturahmitanpabatas  https://t.co/n32IDJXaSL
1512361645556654080 2022-04-08 16:28:09 +0700 <desuti> Udah 2 hari @IndiHome gabisa. Cust carenya juga gak bgt @IndiHomeCare . Udah dijadwalin teknisi jg gaada kabar. Parah sih
1512361578095865860 2022-04-08 16:27:53 +0700 <dianekaputtri> streaming film moana sambil nunggu adzan magrib makin seru nih. karena gaada buffering lagi semenjak pake indihome #aktivitastanpabatas #internetnyaindonesia #silaturahmitanpabatas  https://t.co/GI2xc96Jpp

In [90]:
def column_names():
    return twint.output.panda.Tweets_df.columns
def twint_to_pd(columns):
    return twint.output.panda.Tweets_df[columns]

column_names()
tweet_df = twint_to_pd(["date", "username", "tweet"])
tweet_df.head(10)

print(len(tweet_df))

10

In [91]:
tweet_df.head(30)

,date,username,tweet
0,2022-04-08 16:35:14,muhrezzzz,semangat belajar biar celet wisuda. untung int...
1,2022-04-08 16:33:40,syaws_,"@Askrlfess tadinya Indihome, trus ganti ke fir..."
2,2022-04-08 16:33:06,chelochele,Indihome sinyalnya bapuk
3,2022-04-08 16:30:33,IndiHomeCare,"@painiaa @IndiHome Hallo, Sobat. Mohon informa..."
4,2022-04-08 16:30:10,desuti,@dhitmple @TelkomIndonesia @TelkomCare @IndiHo...
5,2022-04-08 16:30:04,mbas2709,"Indihome sama Telkomsel kapan tobatnya ya, gin..."
6,2022-04-08 16:29:34,dianekaputtri,nyelesain kerjaan semakin cepat sekarang. kare...
7,2022-04-08 16:28:47,dianekaputtri,nonton film black panther makin seru aja nih a...
8,2022-04-08 16:28:09,desuti,Udah 2 hari @IndiHome gabisa. Cust carenya jug...
9,2022-04-08 16:27:53,dianekaputtri,streaming film moana sambil nunggu adzan magri...

In [93]:
tweet_df.to_csv('tweets.csv')